@import "tailwindcss";

@theme {
  /* Definimos tus colores de marca aquí */
  --color-fit-orange: rgb(255, 78, 0);
  --color-fit-blue: rgb(10, 25, 47);
  --color-fit-gray: #666;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
